<div class="main-container">
    <div class="inner-container">
        <div class="content">
            <div class="top-section">
                <div class="text">
                    Please enter the code sent to
                    natasha&#64;pear.com
                </div>
            </div>
            <div class="input-section">
                <input type="text" pInputText />
                <input type="text" pInputText />
                <input type="text" pInputText />
                <input type="text" pInputText />
                <input type="text" pInputText />
            </div>
            <div class="notification">Didn’t receive code? Resend</div>
        </div>
    </div>
</div>