<div class="main-container">
    <div class="first-section">
        <div class="inner-section">
            <div class="content">
                <div>
					<img src="../../../assets/images/logo.svg" alt="logo" />
                </div> 
                <form class="form">
                    <div class="form-content">
                        <label>Email address</label><br>
						<div class="input-section">
							<img src="../../../assets/images/message.svg" class="email-icon" alt="email-icon" />
							<input type="text" pInputText placeholder="jenny@example.com" />
						</div>
                    </div>
                </form>     
                <div class="notification">We’ll email you a magic code to login..</div>  
                <div class="btn-section">
                    <button>Continue</button>
                    <div>Don’t have an account? Sign up</div>
                </div> 
				<div class="bottom-content">
					By proceeding, you are agreeing to Ultimate AI Generator’s Terms of Service and Privacy Policy
				</div>
            </div>      
        </div>
    </div>
    <div class="second-section">
		<div class="inner-second-section">
			<div class="card-container">
				<div class="card">
					<div class="top-section">
						<div>
							<img src="../../../assets/images/profile.svg" alt="" />								
						</div>
						<div class="text">
							<div class="name">Rebecca Moyes</div>
							<div class="designation">CTO</div>
						</div>
					</div>
					<div class="content">
						<div class="inner-content">
							“Not only did it save me time, but it also helped me
							produce content that was more engaging and effective
							than what I had been creating on my own.”
						</div>
					</div>
				</div>
				<div class="card">
					<div class="top-section">
						<div>
							<img src="../../../assets/images/profile.svg" alt="" />								
						</div>
						<div class="text">
							<div class="name">Lisa Singh</div>
							<div class="designation">Writer</div>
						</div>
					</div>
					<div class="content">
						<div class="inner-content">
							“Not only did it save me time, but it also helped me
							produce content that was more engaging and effective
							than what I had been creating on my own.”
						</div>
					</div>
				</div>
			</div>
			<div class="card-container">
				<div class="card">
					<div class="top-section">
						<div>
							<img src="../../../assets/images/profile.svg" alt="" />								
						</div>
						<div class="text">
							<div class="name">Selma Hayat</div>
							<div class="designation">Project Manager</div>
						</div>
					</div>
					<div class="content">
						<div class="inner-content">
							“Not only did it save me time, but it also helped me
							produce content that was more engaging and effective
							than what I had been creating on my own.”
						</div>
					</div>
				</div>
				<div class="card">
					<div class="top-section">
						<div>
							<img src="../../../assets/images/profile.svg" alt="" />								
						</div>
						<div class="text">
							<div class="name">Akshay Sharma</div>
							<div class="designation">CEO</div>
						</div>
					</div>
					<div class="content">
						<div class="inner-content">
							“Not only did it save me time, but it also helped me
							produce content that was more engaging and effective
							than what I had been creating on my own.”
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>