@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
 

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

::ng-deep .p-inputtext:enabled:hover {
    border-color: #d1d5db!important;
}

::ng-deep .p-inputtext:enabled:focus {
    box-shadow: none !important;
}